<template name="Footer">
  <div class="page-footer">
    <footer>
      <div style="padding-top: 15px" class="ui center aligned container footer">
        <hr>
        Made with Aloha by Nathan Lam, Elena Barbour, and Dylan Nakahodo <br/>
        University of Hawaii<br/>
        Honolulu, HI 96822<br/>
        <img style="padding-top: 10px; padding-bottom: -10px;" src="/images/heart.gif">
        <div style="background:url(heart.gif) no-repeat center center;width:32px;"></div>
      </div>
    </footer>
  </div>
</template>
