<template name="Header">
  <!-- If on landing page -->
  {{#if isActiveRoute 'Home_Page'}}
  <landing-navbar class="navbar-slider">
      <div class="ui container borderless inverted menu landing">
        <a class="aligned item" href="{{pathFor 'Home_Page'}}">
          <img class="ui mini aligned image" src="/images/adventure-portal-logo.png">
          <center class="navbar-logo">Adventure Portal</center>
        </a>
        {{#if currentUser}}
        <a class="{{ isActiveRoute 'Dashboard_Page'}} right item" href="{{ pathFor 'Dashboard_Page'}}"><i
            class="dashboard icon"></i>Dashboard</a>
        <a class="{{ isActiveRoute 'Adventures_Page'}} item" href="{{ pathFor 'Adventures_Page'}}"><i
            class="find icon"></i>Find Adventures</a>
        <a class="{{ isActiveRoute 'My_Profile_Page'}} item" href="{{ pathFor 'My_Profile_Page'}}"><i
            class="user icon"></i>My Profile</a>
        <!-- Put login/logout button on very right of content-->
        <div class="item">{{> Cas_Login }}</div>
        {{else}}
        <!-- Put login/logout button on right with no content -->
        <div class="right aligned item">{{> Cas_Login }}</div>
        {{/if}}
      </div>
  </landing-navbar>

  <!-- If on dashboard page-->
  {{else if isActiveRoute 'Dashboard_Page' }}
  <!-- If on dashboard page and logged in -->
  {{#if currentUser}}
  <div class="ui top fixed borderless inverted menu navbar">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Dashboard_Page'}}">
        <img class="ui mini aligned image" src="/images/adventure-portal-logo.png">
        <center class="navbar-logo">Adventure Portal</center>
      </a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'Dashboard_Page'}} right item" href="{{ pathFor 'Dashboard_Page'}}"><i
          class="dashboard icon"></i>Dashboard</a>
      <a class="{{ isActiveRoute 'Adventures_Page'}} item" href="{{ pathFor 'Adventures_Page'}}"><i
          class="find icon"></i>Find Adventures</a>
      <a class="{{ isActiveRoute 'My_Profile_Page'}} item" href="{{ pathFor 'My_Profile_Page'}}"><i
          class="user icon"></i>My Profile</a>
      <!-- Put login/logout button on very right of content-->
      <div class="item">{{> Cas_Login }}</div>
      {{else}}
      <!-- Put login/logout button on right with no content -->
      <div class="right aligned item">{{> Cas_Login }}</div>
      {{/if}}
    </div>
  </div>
  <!-- If still on dashboard but not logged in yet -->
  {{else}}
  <div class="ui top fixed borderless inverted menu navbar">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}">
        <img class="ui mini aligned image" src="/images/adventure-portal-logo.png">
        <center class="navbar-logo">Adventure Portal</center>
      </a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'Dashboard_Page'}} right item" href="{{ pathFor 'Dashboard_Page'}}"><i
          class="dashboard icon"></i>Dashboard</a>
      <a class="{{ isActiveRoute 'Adventures_Page'}} item" href="{{ pathFor 'Adventures_Page'}}"><i
          class="find icon"></i>Find Adventures</a>
      <a class="{{ isActiveRoute 'My_Profile_Page'}} item" href="{{ pathFor 'My_Profile_Page'}}"><i
          class="user icon"></i>My Profile</a>
      <!-- Put login/logout button on very right of content-->
      <div class="item">{{> Cas_Login }}</div>
      {{else}}
      <!-- Put login/logout button on right with no content -->
      <div class="right aligned item">{{> Cas_Login }}</div>
      {{/if}}
    </div>
  </div>
  {{/if}}
  <!-- If on any other page -->
  {{else}}
  <div class="ui top fixed borderless inverted menu navbar">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}">
        <img class="ui mini aligned image" src="/images/adventure-portal-logo.png">
        <center class="navbar-logo">Adventure Portal</center>
      </a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'Dashboard_Page'}} right item" href="{{ pathFor 'Dashboard_Page'}}"><i
          class="dashboard icon"></i>Dashboard</a>
      <a class="{{ isActiveRoute 'Adventures_Page'}} item" href="{{ pathFor 'Adventures_Page'}}"><i
          class="find icon"></i>Find Adventures</a>
      <a class="{{ isActiveRoute 'My_Profile_Page'}} item" href="{{ pathFor 'My_Profile_Page'}}"><i
          class="user icon"></i>My Profile</a>
      <!-- Put login/logout button on very right of content-->
      <div class="item">{{> Cas_Login }}</div>
      {{else}}
      <!-- Put login/logout button on right with no content -->
      <div class="right aligned item">{{> Cas_Login }}</div>
      {{/if}}
    </div>
  </div>
  {{/if}}
</template>
