<template name="Activity_Card">
  <a class="card" href="/{{profile.username}}/{{activity._id}}/details">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <button class="ui icon button activity">
              <i class="big empty star icon"></i>
            </button>
          </div>
        </div>
      </div>
      <img src="{{ activity.picture }}">
    </div>
    <div class="content">
      <div class="header">
        {{ activity.title }}
      </div>
      <div class="ui container">
        <div class="meta">
          <a>{{ activity.location }}</a>
          <a class="right floated meta">{{ activity.hours }}</a>
        </div>
      </div>
      <div class="description">
        {{ activity.description }}
      </div>
      <div class="ui container">
        <div style="margin-top: 10px">
          {{#each interest in activity.interests}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      {{ activity.rating }}
    </span>
      {{ activity.cost }}
    </div>
  </a>

  <script>
    $('.special.cards .image').dimmer({
      on: 'hover'
    });
  </script>
</template>