<template name="Activity_Card">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <button class="ui icon button">
              <i class="large empty star icon"></i>
            </button>
          </div>
        </div>
      </div>
      <img src="{{ activity.picture }}">
    </div>
    <div class="content">
      <div class="header">
        {{ activity.title }}
      </div>
      <div class="ui container">
        <div class="meta">
          <a>{{ activity.location }}</a>
          <a class="right floated meta">{{ activity.hours }}</a>
        </div>
      </div>
      <div class="description">
        {{ activity.description }}
      </div>
    </div>
    <div class="extra content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      {{ activity.rating }}
    </span>
      {{ activity.cost }}
    </div>
  </div>

  <script>
    $('.special.cards .image').dimmer({
      on: 'hover'
    });
  </script>
</template>